Appium-Python-Client==4.5.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
requests>=2.25.1
selenium>=4.1.0
webdriver-manager==4.0.2

# Optional but recommended for logging and data handling
python-dateutil>=2.8.1
